.daily-tasks-card {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.37), rgba(2, 136, 160, 0.623)); 
    border-radius: 4.99px;
    padding: 8px;
    padding-bottom: 4px;
    border: 1px solid rgb(153, 0, 255);
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    position: relative;
    margin-bottom: 30px;
}

.daily-tasks-card .title {
    font-size: 1.2rem !important;
    margin-bottom: 0 !important;
    display: inline;
    background-image: none !important;
    font-weight: 500 !important;
    color: white !important;

}

.dashboard .title {
    font-size: 1.1rem;
    display: inline;
    background-image: linear-gradient(to right bottom, rgb(0, 255, 213), rgb(255, 255, 255));
    background-clip: text;
    font-weight: 700;
    color: transparent;
}


.daily-tasks-card .img {
    background-color: rgba(255, 0, 0, 0.11);
    position: relative;
    padding: 0px;
    border-radius: 100px;
}

.daily-tasks-card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
    scale: .8;
}


.daily-tasks-card .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex: 1;
}

.progress {
    height: 20px;
    width: 100%;
    border-radius: 100px;
    overflow: hidden;
    background-color: rgb(180, 178, 178);
}

 .progress .pro {
    width: 20%;
    height: 100%;
    background-color: rgb(4, 122, 143);
    border-radius: 100px;
    border: 1px solid rgb(0, 255, 221);
}


 .process {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 10px;
}

 .process .progress-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: .8rem; 
    width: 100%;
    font-weight: 500;
}


.daily-tasks-card .result {
    position: absolute;
    bottom: -10px;
    left: 7px;
    border-radius: 80px;
    padding: 0px 20px;
    padding-bottom: 2px;
    font-size: .8rem;
    z-index: 999;
}

 .incomplete {
    background-color: rgba(255, 0, 0, 0.432);
    border: 1px solid red;
}

 .completed {
    background-color: rgba(72, 255, 0, 0.432);
    border: 1px solid rgb(0, 255, 21);
}

.daily-tasks-card .result-acheivement {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

 .daily-tasks-card .icon, .learn .icon, .game-card .result-acheivement .icon {
    height: 33px;
    width: 33px;
    background-color: rgb(153, 100, 153);
    border-radius: 100px;
    border: 2px solid rgb(255, 230, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-weight: 800;
    font-size: .9rem;
    margin-left: 10px;
}


.daily-tasks-card .info .title {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 400;
}

.daily-tasks-card .info .mission {
    font-size: .9rem;
    font-weight: 700;
    margin-top: -5px;
}






















.quiz-categories {
    margin-bottom: 30px;
}

.quiz-categories .title {
    font-size: .99rem;
}


.quiz-categories .category-box {
    display: flex;
    padding: 4px 10px;
    padding-top: 18px;
    justify-content: start;
    align-items: stretch;
    overflow: scroll;
    border-radius: 4px;
    gap: 10px;
    border: 1px solid rgb(129, 124, 124);
    margin-top: 4px;
    background: linear-gradient(to right bottom, rgba(4, 145, 145, 0.267), rgba(12, 4, 126, 0.781));
}


.quiz-categories .category-box .category {
    background-color: rgba(0, 0, 0, 0.507);
    padding: 8px 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px rgb(100, 105, 103);
    transition: .2s;
    min-width: 120px;
    position: relative;
    padding-bottom: 20px;

}

.quiz-categories .category-box .category:hover {
    opacity: .99;
    scale: .994;
}

.quiz-categories .category-box .category button {
    border: 1px solid rgb(102, 100, 100);
    padding: 2px 30px;
    padding-bottom: 4px;
    font-size: .7rem;
    margin-top: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 4px;
}


.quiz-categories .category-box .category svg {
    background-color: rgba(98, 102, 102, 0.404);
    border-radius: 30px;
    height: 40px;
    width: 44px;
    padding: 10px;
    margin: 0 auto;
    transform: translate(70%, 5%);
    transition: .2s;
    margin-bottom: 3px;
    border-bottom: 1px solid rgb(182, 176, 176);
}

.quiz-categories .category-box .category svg:hover {
    transform: translate(70%, -3px);
}


.quiz-categories .category-box .category .list {
    background-color: rgb(255, 255, 255);
    width: 5px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 4px;
}

.quiz-categories .category-box .category .list .l {
    height: 3px;
    width: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}


.quiz-categories .category-box .category p {
    font-size: .87rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, rgb(255, 253, 253), rgb(2, 255, 2));
    background-clip: text;
    font-weight:600;
    max-width: 90%;
    line-height: 1.4;
    margin-top: 3px;
    margin-bottom: 3px;
    color: transparent;
}












.learn {
    margin-bottom: 30px;
}


.learn-card {
    border: 2px solid rgb(0, 112, 94);
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px 4px;
    gap: 20px;
    border-radius: 4px;
    position: relative;
}


@media screen and (max-width: 440px) {
    .learn-card {
        flex-direction: column;
    }

    .learn-box-2 .result-acheivement {
        top: 10px;
        right: 20px !important;
        left: auto !important;
    }

    .learn-box-1 .link {
        margin-top: 10px !important;
    }

    .process {
        margin-top: 0;
    }

    .daily-tasks-card .info .vision {
        font-size: .7rem;
        font-weight: 700;
    }

    .daily-tasks-card .info .title {
        font-size: 1rem !important;
        margin-bottom: -4px !important;
    }

    .daily-tasks-card .info .mission {
        font-size: .8rem;
        font-weight: normal;
    }

    .daily-tasks-card .icon {
        height: 30px;
        width: 30px;
        font-size: .7rem;
    }

    .daily-tasks-card .result-acheivement p {
        font-size: .9rem;
        font-weight: 700;
    }

}



.learn-box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.learn-box-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.learn-box-1 img {
    background-color: rgb(87, 82, 82);
    height: 4rem;
    width: 4rem;
    border-radius: 100px;
    object-fit: cover;
}

.learn-box-1 p {
    font-size: .8rem;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 170px;
}

.learn-box-1 .link {
    margin-top: 10px;
    border-radius: 100px;
}

.learn-box-1 button {
    padding: 4px 20px 8px 20px;
    border-radius: 100px;
    font-size: .8rem;
    box-shadow: 0px 0 0px 1px rgb(35, 230, 155);
    border: 1px solid rgba(255, 217, 0, 0.63);
    transition: .2s;
    animation: 1.2s btn linear infinite;
    background-color: rgba(111, 235, 252, 0.158);
}

@keyframes btn {
    from {
        box-shadow: 0px 0 10px 0px rgb(35, 230, 155);
        scale: .9;
    }

    to{
        box-shadow: 0px 0 80px 0px rgb(35, 230, 155);
        scale: 1;
    }
}



.learn-box-1 svg {
    rotate: 181deg;
}




.learn-box-2 .result {
    max-width: 100px;
    border-radius: 100px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 2px;
    font-size: .9rem;
}

.learn-box-2 .learn-overview {
    font-size: .8rem;
    background: linear-gradient(to right bottom, rgb(252, 214, 0), rgb(2, 255, 221));
    background-clip: text;
    font-weight: 600;
    color: transparent;
    max-width: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.learn-box-2 .result-acheivement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: .77;
}


.learn-box-2 .result-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}






.games {
    margin-bottom: 10px;
}

.games-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.game-title {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(174, 0, 255);
    width: min-content;
    font-size: .9rem;
    padding: 4px;
}


.game-cards {
    background-color: rgba(96, 10, 153, 0.096); 
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(245, 245, 245, 0.137);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    padding: 4px;
    overflow: hidden;
}


.game-card {
    background-color: rgba(222, 231, 240, 0.11);
    border-radius: 4px;
    max-height: 300px;
    transition: .2s;
}

.game-card:hover {
    box-shadow: 0 0 2.9px 0px white;
}


@media screen and (max-width: 600px) {
    .game-card {
        height: auto;
    }
}



.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}

.game-card svg {
    background-color: rgba(3, 2, 2, 0.356);
    border: 1px solid rgba(255, 255, 255, 0.548);
    height: 30px;
    width: 30px;
    padding: 4px;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 10px;

}

.game-card .game-category {
    font-size: .9rem;
    font-weight: 700;
}

.game-card .game-dificulity {
    font-size: .8rem;
    font-weight: 500;
    color: rgb(255, 238, 0);
    box-shadow: 0 0 200px 0px rgb(4, 248, 208);
    margin: 4px;
    border-radius: 100px;
    padding: 0px 20px 1px 20px;
}

.game-card button {
    padding: 1px 20px 5px 20px;
    font-size: .7rem;
    border-radius: 100px;
    border: 1px solid rgb(183, 0, 255);
}

.game-card button:focus {
    outline: none;
}



.games-box > div {
    position: relative;
}

.games-box > div .lock {
    position: absolute;
    margin-top: 34.99px;
    z-index: 1;
    height: 90%;
    width: 100%;
    background-color: rgba(50, 27, 179, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    color: rgb(255, 253, 253);
    font-weight: 500;
}

.games-box > div .lock p {
    background-color: rgba(33, 4, 58, 0.801);
    padding: 0px 20px;
    border-radius: 4px;
    border: 2px solid rgb(0, 0, 0);
}


.game-card .result-acheivement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    gap: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.game-card .result-acheivement .icon {
    margin-bottom: 2px;
    scale: .8;
    font-size: .88rem;
}