.search {
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
    padding:4.99px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.search input {
    padding: .4rem 1.4rem;
    width: 90%;
    border: 1px solid #646cff;
    border-radius: 10rem;
    font-size: .8rem;
    background-color: rgba(37, 38, 54, 0.438);
}

.search input:focus {
    outline: none;
    box-shadow: 0 0 4px blue;
}



.map {
    width: 100%;
    height: 100%;
    background-color: rgba(253, 248, 248, 0.164);
}






.country-info {
    margin-top: 70px;
}

.info {
    margin-top: 10px;
}

.info > div {
    display: flex; 
    gap: 14px;
    justify-content: start;
    align-items: start;
}


.info .img {
    width: 9rem;
    height: 7.4rem;
    border-radius: .2rem;
}


.info p {
    max-width: 700px;
    font-size: .91rem;
}

.info .desc {
    margin-top: 7px;
    font-size: .88rem;
}








.country-image {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 400px;
    max-width: 800px;
    overflow: scroll;
    border-radius: 8px;
}

.country-image img {
    height: 100%;
    max-width: 700px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}







.country-weather {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.weather {
    max-width: 800px;
    width: 100%;
    background: linear-gradient(to right, rgb(187, 73, 202) 40%, rgb(109, 165, 187));
    border-radius: .4rem;
    padding: 4px;
    margin-bottom: 17px;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.side-2 p{
    font-size: .9rem;
}

.side-2 .info{
    font-size: 1.2rem;
}

.weather--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 3, 3, 0.411);
    border-radius: .2rem;
    padding: 4px 9px;
}

.now {
    font-size: .8rem;
    padding: 4px;
    font-weight: 600;
}

.temp {
    display: flex;
    font-size: 2rem;
    justify-content: start;
    align-items: center;    
}


.feels-mode {
    font-size: .8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}


.weather--tabs {
    display: flex;
    justify-content: start;
    padding: .3rem 0;
    align-items: center;
    gap: 2rem;
    color: rgb(230, 230, 230);
    font-weight: 700;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 14px;
}

.weather--tabs p:hover {
    color: lightgrey;
}


.weather--main {
    background-color: rgba(3, 2, 2, 0.349);
    display: flex;
    justify-content: start;
    align-items: center;    
    padding-left: 14px;
    padding-top: 12px;
    overflow: scroll;
}

.day-weather {
    margin-right: 1rem;
    background-color: rgba(17, 10, 10, 0.11);
    border-radius: 10%;
    font-size: .8rem;
    min-width: 50px;
    border: 1px solid #28abf7;
    text-align: center;
    padding-top: 10px;
}

.day-weather > p{
    margin-bottom: 8px;
}




.boxes {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 17px;
  overflow: scroll;
  padding: 7px;
  width: 100%;
}


.box {
    min-width: 60px;
    background-color: rgba(7, 7, 12, 0.438);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    transition: .2s;
    border: 1px solid #646cff;
    padding-top: 10px;
    padding-bottom: 0;
    cursor: pointer;
    font-size: .9rem;
}

.box:hover {
    box-shadow: 0 0 12px rgb(59, 48, 212);;
}

.box > p {
    margin-bottom: 10px;
}








form {
    margin-top: 70px; 
    margin-bottom: 20px;
}

.form .subtitle {
    margin-top: -24px;
    margin-bottom: 20px;
    font-size: .99rem;
    border-bottom: 1px solid rgb(132, 0, 255);
    max-width: 400px;
}

form label {
    font-size: .9rem;
}

form .form-que {
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: start;
    align-items: start;
}

form .select {
    display: flex;
    gap: 10px;
}

form .select select {
    height: 18px;
    font-size: 0.8rem;
}

.rate {
    max-width: 500px;
    margin-top: 4px;
    width: 100%;
}

.rate p {
    font-weight: 500;
}

.rating {
    background-color: rgba(37, 38, 54, 0.438);
    border: 1px solid #646cff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3;
    border-radius: 4px;
    margin-top: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.description {
    margin-top: 10px;
    max-width: 500px;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
}

.description textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #646cff;
    background-color: rgba(37, 38, 54, 0.438);
    border-radius: 8px;
    font-size: .9rem;
}

.description textarea:focus {
    outline: none;
}


.form .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    font-size: .9rem;
    padding:0 10px;
    margin-top: -20px;
}