.page {
    margin-top: 1rem;
    padding: 0 10px;
}

@media screen and (max-width: 554px) {
    .page {
        padding: 0px 8px;
    }
}

h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: -10px;
    border-bottom: 1px solid rgb(0, 140, 255);
    width: 100px;
    margin-bottom: 30px;
    line-height: 1;
}









.container-card {
    margin-top: 30px;
    margin-bottom: 70px;
}


.developer--info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
}


.developer--background {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.developer--background div .name {
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.developer--background div .num {
    font-size: .8rem;
    margin: 5px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.developer--background div .dev {
    font-size: .79rem;
    border: 1px solid rgb(201, 107, 255);
    padding: 4px 10px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 100px;
    color: rgb(194, 89, 255);
    background-color: rgba(16, 0, 105, 0.24);
    transition: .2s;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin: 14px 0;
}

.developer--background div .dev:hover {
    border: 1px solid rgb(162, 0, 255);
    color: rgb(162, 0, 255);
    background-color: transparent;
}


.developer--background div .languages {
    border-bottom: 1px solid rgb(190, 79, 255);
    line-height: 2;
    background: linear-gradient(to right bottom, gold, rgb(255, 0, 170) 80%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .777rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
    align-items: center;
    gap: 2px;
}


.developer--background div .languages span {
    color: rgb(190, 79, 255);
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.links .icon {
    border: 1px solid rgb(212, 0, 255);
    border-radius: 5.99px;
    padding: 4px 10px;
    padding-bottom: 1px;
    font-size: .7rem;
    cursor: pointer;
    transition: .2s;
}

.links .icon svg {
    fill: rgba(0, 238, 255, 0.192);
    stroke: rgb(0, 255, 200);
}

.links .icon:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(3, 154, 255);
}


h4 {
    font-weight: 490;
    font-size: 1.1rem;
    margin-bottom: 27px;
}

.img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 10rem;
    border: 2px solid rgb(190, 79, 255);
}


@media screen and (max-width: 400px) {
    
.developer--background div .name {
    font-size: 1rem;
}

.developer--background div .num {
    font-size: .9rem;
    margin-top: 2px;
}

.developer--background div .dev {
    font-size: .9rem;
}

.developer--background div .languages { 
    font-size: .7rem;
}


}


@media screen and (max-width: 374px) {
    .developer--background {
        flex-direction: column;
        align-items: start;
    }

.developer--background div .name {
    margin: 2px 0;
    font-size: 1.14rem;
    margin-top: -10px;
}

.developer--background div .num {
    margin: 4px 0;
}

.developer--background div .dev {
    margin: 7px 0;
}

.developer--background div .languages { 
    margin: 14px 0;
}

}






.msg-back {
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
}

.msg-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    max-width: 300px;
    width: 99%;
    border-radius: 14px;
    box-shadow: 2px 3px 4px 1px rgba(204, 196, 204, 0.158);
    background-color: rgb(34, 21, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(212, 0, 255, 0.39);
    padding: 30px 20px;
    text-align: center;
}

.msg-box p {
    font-size: .94rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.msg-box button {
    font-size: .8rem;
    padding: 1px 20px;
    border-radius: 100px;
    padding-bottom: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



h5 {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 500;
    color: rgb(0, 204, 255);
}


.card {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 700px;
    width: 100%;
}

.card p {
    font-size: .97rem;
    color: rgb(223, 223, 223);
    margin-left: 3px;
    line-height: 1.5;
}


footer {
    text-align: center;
    margin-bottom: -40px;
    font-size: .9rem;
    margin-top: 80px;
}


.map-wrapper {
  width: 100%;
  height: 580px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;
}


@media screen and (max-width: 600px) {
    .map-wrapper {
        max-height: 400px;
    }
}



.quiz-page {
    padding-bottom: 48px;
}


.quiz-tab {
    font-size: 1rem;
}

.quiz-tab svg {
    padding: 2px;
}